<div id="content-wrap">

<div id="sidebar">
  <%= button_to "Add Person", new_person_url,:method => :get, :class => "button" %>
</div>

<div id="main"> <a name="TemplateInfo"></a>
<h1>People</h1> 
    <br />
    <% for person in @people %>		
      <div style='display:inline-block;width:150px;height:60px;border-style:dotted;border-width:1px;align:center;'>
	<br/>
		<div style="margin-left:10px;">
	      <%= link_to person.name, person_url(person.id) %>
	      <small><div id="smallcheck"><%= person.email %> </small></div>
		</div>
	  </div>
    <% end %>
  
</div>

</div>

<div id="footer">
</div>