<div id="content-wrap">

<div id="sidebar">
  <%= button_to "Add Person", new_person_url,:method => :get, :class => "btn btn-primary btn-xs" %>
</div>

<div id="main"> 
<h2>People</h2> 
	<ul class="list-group">
	  <% for person in @people %>
	  <li class="list-group-item">
	    <span class="badge"><%= person.email %></span>
	    <%= link_to person.name, person_url(person.id) %>
		<small><% if person.is_system_admin == true %> (System Administrator)<% end %></small>
	  </li>
	  <% end %>
	</ul>
</div>

</div>
