
#content-wrap {
	position: relative;
	width: 91%;
	margin: auto auto;
	padding: 0;	
	height: 300px;
}

/* Main */
#main {
	float: left;	
	width: 72%;
	padding: 0;	margin: 0;	
}


/* sidebar */
#sidebar {
	float: right;
	width: 26%;
	padding: 0; margin: 0;		
}	

