<div id="left-side" class="matting">
<h3>Dashboard - Projects</h3> 
  <ul class="campaigns">
	<% for project in @projects %>
      <li class="campaign"><%= link_to project.name, overview_project_url(project) %></li>
    <% end %> 
  </ul>
</div>
