<div id="content-wrap">
  <div id="main"> 
    <h2>Dashboard - My Tasks</h2>
  <% if @tasks.length == 0 %>
	<center>No tasks found.</center>
  <% else %>
    <%= render :partial => "projects/task_field" %>	
  <% end %>
  </div>

  <div id="sidebar">	
	<%= form_tag dashboard_url, :method => 'get' do %>
	<div class="form-group">
	  <label class="control-label">by status, task name, or owner name</label>
	  <div class="input-group">
	    <span class="input-group-addon">Search</span>

		<%= text_field_tag :search, params[:search], :class => "form-control" %>
	    <span class="input-group-btn">	     
		  <%= submit_tag "Go", :name => nil, :class => "btn btn-primary" %>
	    </span>
	  </div>
	</div>
	<% end %>
  </div>

</div>

