<div id="content-wrap">
  <div id="sidebar">
	<% if admin_role %>
      <%= button_to "Add Project", new_project_url,:method => :get, :class => "btn btn-primary btn-xs" %>
	<% end %>
  </div>
	
  <div id="main"> 
  <h2> Projects </h2> 
	<ul class="list-group">
	  <% for project in @projects %>
	  <li class="list-group-item">
	    <span class="badge"><%= project.tasks.is_active.length %></span>
	    <%= link_to project.name, project_tasks_url(project) %>
	  </li>
	  <% end %>
	</ul>
  </div>
</div>



