<div id="content-wrap">
  <div id="sidebar">
	<% if admin_role %>
      <%= button_to "Add Project", new_project_url,:method => :get, :class => "button" %>
	<% end %>
  </div>
	
  <div id="main"> <a name="TemplateInfo"></a>
  <h1> Projects </h1> 
  	<% for project in @projects %>
	  <p style="margin-left:10px;"> <strong><%= link_to project.name, overview_project_url(project) %></strong>(<%= project.tasks.is_active.length %>)</p>
	  <p class="post-footer align-right" style="margin-top:-30px;">Created<span class="date"><%= project.created_at.strftime("%d %B %Y") %></span></p>
	<% end %>
	<br/>
  </div>
</div>

<div id="footer">
</div>

