<div id="left-side" class="matting">
  <h3>Project Overview</h3>
    <ul class="campaigns">
	<div style="text-align:justify;">
    <%= current_project.name %> <br >
    <%= h(current_project.description).gsub(/\n/, '<br />').html_safe %>
    </div>
    </ul>
</div>

<div id="right-side">
  <% if current_role == 'Administrator' || admin_role %>
    <%= button_to "Edit Project", edit_project_url,:method => :get %>
  <% end %>
</div>

