<div id="content-wrap">
	<div id="sidebar">	 
	  <% if current_role == 'Administrator' || admin_role %>
      <%= button_to "Edit Project", edit_project_url,:method => :get, :class => "btn btn-primary btn-xs" %>
	  <% end %>	   
	</div>

	<div id="main">
	  <h2><%= current_project.name %></h2> 
	  <p align="justify"> 
        <%= h(current_project.description).gsub(/\n/, '<br />').html_safe %>
      </p>
    </div>	
</div>

<div id="footer">
</div>