/*=======================
  Login form
 ========================*/

#login {
  background:#fff;
  border:5px solid #1a7099;
  color:#468;
  margin:200px auto auto auto;
  position:relative;
  width:300px;
}
#login h2 {
  margin-bottom:25px;
}
#login input {
  font-size:1.1em !important;
  padding:4px;
}
#login label {
  display:block;
  float:left;
  margin-top:5px;
  width:100px;
}