 <% [:alert, :notice, :error].select { |type| !flash[type].blank? }.each do |type| %>

  <% if flash[:notice] %>
	<div class="alert alert-dismissable alert-success", style="margin-bottom:-5px;">
	  <button type="button" class="close" data-dismiss="alert">×</button>
	  <%= flash[type] %>
	</div>

  <% elsif flash[:error] %>
    <div class="alert alert-dismissable alert-danger", style="margin-bottom:-5px;">
	  <button type="button" class="close" data-dismiss="alert">×</button>
      <%= flash[type] %>
    </div>
	
  <% else %>
	<div class="alert alert-dismissable alert-success", style="margin-bottom:-5px;">
	  <button type="button" class="close" data-dismiss="alert">×</button>
	  <%= flash[type] %>
	</div>

  <% end %>

<% end %>