
<div id="menu">
	<ul>    
		<li><%= link_to 'Dashboard',dashboard_url %></li>
		<li><%= link_to 'Projects',projects_url %></li>
		<% if admin_role %>	
			<li id="current"><%= link_to 'People', people_url %></li>
		<% end %>
	</ul>
</div>

