
   <p style="background: #FFF;color: #667F99;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;height: 12px;font-size: 9px;">
<b><%= current_user.name %></b>
<%= link_to '| My Info |' ,person_url(current_user) %>
<%= link_to ' Log out', log_out_url %>	  
   </p>

